.dockerignore
.DS_Store
.git
.github
.gitignore
.gitlab-ci.yml
.gitmodules
.idea
.data
.sass-cache
tests
README.md
LICENSE
Dockerfile
Dockerfile.archive
docker-compose.yml

# Ignore Act-related Items
.actrc
.act-secrets
.act-payload.json

# Ignore Dev-related Items
update-overdrive.sh
update-baseimage.sh
.pre-commit-config.yaml
_typos.toml

# Node
node_modules
package.json
package-lock.json
